body {
    font-family: 'Nunito';
    font-size: 22px;
    padding: 0;
    margin: 0;
}
/* makes images fit flex boxes */
img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:lightblue;
}
.header > * {
    margin: 0px;
}



/*start of about page*/
.about {
    display: flex;
    flex-direction: row;
}
.image {
    width: 350px;
    padding-left: 60px;
    padding-bottom: 60px;
}
.text-container {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 70px;
}
.text-container > * {
    margin: 5px;
    padding: 5px;
}
.links {
    display: flex;
    height: 50px;
    flex-flow: row;
    justify-content: space-around;
}
.title {
    font-size: 20px;
    text-align: center;
}
.quote {
    font-style: italic;
    font-size: 15px;
    color:cadetblue;
    padding-top: 10px;
    text-align: center;
}