body {
    font-family: 'Nunito';
    font-size: 22px;
    margin: 0;   /* get rid of all default padding and marigins */
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:#ffcbcb;
}
.header > * {
    margin: 0px;
    padding: 0px;
}

.body {
    padding: 40px;
}