body {
    font-family: 'Nunito';
    font-size: 22px;
    margin: 0;   /* get rid of all default padding and marigins */
    padding: 0;
}
/* makes images fit flex boxes */
img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: lightblue;
}
.header > * {
    margin: 0px;
    padding: 0px;
}